@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.home img {
    width: 100%;
}

header {
    position: absolute;
    width: 100%;
    display: flex;
}

.logo {
    width: 346px;
    height: 54px;
    background-color: white;
    margin-right: 290px;
    margin-left: 80px;
    display: flex;
}

.logo h1 {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 18px;
}

.logo img {
    margin-left: 240px;
    width: 6%;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: white;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 16px;
}

.text p {
    position: absolute;
    top: 100px;
    left: 80px;
    color: white;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 14px;
}

.text h1 {
    position: absolute;
    top: 145px;
    left: 75px;
    color: white;
    font-size: 60px;
    font-weight: 600;
}

.text button {
    position: absolute;
    top: 318px;
    left: 74px;
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    letter-spacing: 3px;
    border-radius: 50px;
    font-size: 8px;
}

.white-square {
    width: 346px;
    height: 120px;
    background-color: white;
    position: absolute;
    top: 412px;
    left: 75px;
}

.white-square p {
    position: absolute;
    top: 36px;
    left: 30px;
    font-size: 10px;
    color: black;
    letter-spacing: 4px;
}

.white-square h1 {
    position: absolute;
    top: 55px;
    left: 30px;
    font-size: 16px;
    color: black;
    top: 62px;
    font-weight: 800;
}

.feature {
    background-color: #F3F6FC;
    position: absolute;
    top: 412px;
    width: 75px;
    height: 150px;
}

.feature h1 {
    position: absolute;
    top: 50px;
    left: -5px;
    transform: rotate(-90deg);
    font-size: 11px;
    color: #6E7488;
    font-weight: 300;
    letter-spacing: 3px;
}

.feature img {
    position: absolute;
    top: 120px;
    left: 28px;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 3px;
}

.square-corporate {
    background-color: #F3F6FC;
    width: 930px;
    height: 210px;
    position: absolute;
    top: 522px;
    left: 75px;
}

.square-corporate p {
    color: #6E7488;
    position: absolute;
    top: 52px;
    left: 38px;
    font-size: 12px;
}

.square-corporate hr {
    position: relative;
    width: 625px;
    top: 60px;
    left: 230px;
}

.square-corporate img {
    margin-top: 100px;
    padding-right: 60px;
    padding-left: 45px;
}

.circle-arrow {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    top: calc(50% - 100px/2 + 120px);
    left: calc(50% - 100px/2 + 526px);
}

.circle-arrow img {
    position: absolute;
    top: 23px;
    left: 23px;
}

.services {
    margin-top: 300px;
    width: 100%;
    height: 300px;
}

.services p {
    position: absolute;
    width: 90px;
    height: 20px;
    top: 800px;
    font-size: 12px;
    letter-spacing: 3px;
    padding-left: 74px;
}

.services h1 {
    font-size: 40px;
    padding-left: 74px;
}

.services button {
    width: 200px;
    height: 50px;
    font-family: "Open Sans", sans-serif;
    background-color: black;
    color: white;
    font-size: 11px;
    border-radius: 50px;
    font-weight: 200;
    letter-spacing: 3px;
}

.lineUp {
    display: flex;
    justify-content: space-between;
    margin-right: 74px;
}

.space {
    width: 60px;
    height: 60px;
    background: #F3F6FC;
    border-radius: 60px;
    margin-top: 150px;
    margin-left: 95px;
}

.space img {
    display: flex;
    margin-left: 18px;
    padding-top: 20px;
}

.space h1 {
    font-size: 24px;
    position: absolute;
    font-weight: 700;
    letter-spacing: -0.72px;
    line-height: 30px;
    margin-top: 100px;
    left: 15px;
}

.space p {
    width: 380px;
    height: 73px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #6E7488;
    font-weight: 400;
    margin-top: 450px;
    left: 15px;
    line-height: 26px;
}

.furniture {
    width: 60px;
    height: 60px;
    background: #F3F6FC;
    border-radius: 60px;
    margin-left: 470px;
    margin-top: -60px;
}

.furniture img {
    display: flex;
    margin-left: 18px;
    padding-top: 20px;
}

.furniture h1 {
    font-size: 24px;
    position: absolute;
    font-weight: 700;
    letter-spacing: -0.72px;
    line-height: 30px;
    margin-top: 100px;
    left: 390px;
}

.furniture p {
    width: 380px;
    height: 73px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #6E7488;
    font-weight: 400;
    margin-top: 450px;
    left: 390px;
    line-height: 26px;
}

.layouts {
    width: 60px;
    height: 60px;
    background: #F3F6FC;
    border-radius: 60px;
    margin-left: 870px;
    margin-top: -60px;
}

.layouts img {
    display: flex;
    margin-left: 18px;
    padding-top: 20px;
}

.layouts h1 {
    font-size: 24px;
    position: absolute;
    font-weight: 700;
    letter-spacing: -0.72px;
    line-height: 30px;
    margin-top: 100px;
    left: 790px;
}

.layouts p {
    width: 380px;
    height: 73px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #6E7488;
    font-weight: 400;
    margin-top: 450px;
    left: 790px;
    line-height: 26px;
}

.about-nside {
    width: 100%;
    height: 1000px;
    background-image: url(/img/innovating.svg);
    margin-top: 330px;
}

.about-nside p {
    position: absolute;
    top: 1580px;
    left: 120px;
    color: white;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 16px;
}

.about-nside h1 {
    position: absolute;
    top: 1700px;
    left: 120px;
    color: white;
    font-size: 48px;
    font-weight: 600;
}

.about-nside h2 {
    position: absolute;
    top: 1972px;
    left: 120px;
    color: white;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 14px;
}

.about-nside img {
    position: absolute;
    top: 1970px;
    left: 90px;
    color: white;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 14px;
}

.circle-play {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    top: 2090px;
    left: 120px;
}

.circle-play img {
    position: absolute;
    top: 38px;
    left: 38px;
}

.explore-work {
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore-work img {
    width: 1200px;
    height: 550px;
}

.explore-work p {
    position: absolute;
    color: white;
    margin-top: -150px;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 12px;
}

.explore-work h1 {
    position: absolute;
    margin-top: -40px;
    color: white;
    font-size: 48px;
    font-weight: 600;
}

.explore-work button {
    position: absolute;
    margin-top: 150px;
    width: 200px;
    height: 50px;
    font-family: "Open Sans", sans-serif;
    background-color: transparent;
    color: white;
    font-size: 11px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.75);
    font-weight: 200;
    letter-spacing: 3px;
}

.works {
    background-color: #F3F6FC;
    width: 1120px;
    height: 110px;
    position: absolute;
    margin-left: 91px;
    top: 2998px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.works p {
    width: 350px;
    height: 15px;
    font-size: 12px;
    color: #090B19;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.properties {
    margin-top: 180px;
    width: 100%;
    height: 1400px;
}

.all-properties img,
.spo-properties img,
.mic-properties img,
.exx-properties img,
.del-properties img,
.dis-properties img,
.nik-properties img,
.met-properties img,
.hom-properties img {
    width: 360px;
    height: 350px;
}

.all-properties img {
    position: absolute;
    top: 3240px;
    left: 80px;
}

.spo-properties img {
    position: absolute;
    top: 3180px;
    left: 430px;
}

.mic-properties img {
    position: absolute;
    top: 3240px;
    left: 780px;
}

.exx-properties img {
    position: absolute;
    top: 3650px;
    left: 80px;
}

.del-properties img {
    position: absolute;
    top: 3710px;
    left: 430px;
}

.dis-properties img {
    position: absolute;
    top: 3650px;
    left: 780px;
}

.nik-properties img {
    position: absolute;
    top: 4200px;
    left: 80px;
}

.met-properties img {
    position: absolute;
    top: 4140px;
    left: 430px;
}

.hom-properties img {
    position: absolute;
    top: 4200px;
    left: 780px;
}

.all-properties p,
.spo-properties p,
.mic-properties p,
.exx-properties p,
.del-properties p,
.dis-properties p,
.nik-properties p,
.met-properties p,
.hom-properties p {
    color: white;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 10px;
}

.all-properties p {
    position: absolute;
    top: 3270px;
    left: 190px;
}

.spo-properties p {
    position: absolute;
    top: 3210px;
    left: 520px;
}

.mic-properties p {
    position: absolute;
    top: 3270px;
    left: 890px;
}

.exx-properties p {
    position: absolute;
    top: 3680px;
    left: 140px;
}

.del-properties p {
    position: absolute;
    top: 3740px;
    left: 490px;
}

.dis-properties p {
    position: absolute;
    top: 3680px;
    left: 840px;
}

.nik-properties p {
    position: absolute;
    top: 4230px;
    left: 150px;
}

.met-properties p {
    position: absolute;
    top: 4170px;
    left: 550px;
}

.hom-properties p {
    position: absolute;
    top: 4230px;
    left: 870px;
}

.all-properties h1,
.spo-properties h1,
.mic-properties h1,
.exx-properties h1,
.del-properties h1,
.dis-properties h1,
.nik-properties h1,
.met-properties h1,
.hom-properties h1 {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.all-properties h1 {
    position: absolute;
    top: 3290px;
    left: 130px;
}

.spo-properties h1 {
    position: absolute;
    top: 3230px;
    left: 510px;
}

.mic-properties h1 {
    position: absolute;
    top: 3290px;
    left: 840px;
}

.exx-properties h1 {
    position: absolute;
    top: 3700px;
    left: 150px;
}

.del-properties h1 {
    position: absolute;
    top: 3760px;
    left: 510px;
}

.dis-properties h1 {
    position: absolute;
    top: 3700px;
    left: 860px;
}

.nik-properties h1 {
    position: absolute;
    top: 4260px;
    left: 150px;
}

.met-properties h1 {
    position: absolute;
    top: 4190px;
    left: 490px;
}

.hom-properties h1 {
    position: absolute;
    top: 4260px;
    left: 830px;
}

.all-properties h2,
.spo-properties h2,
.mic-properties h2,
.exx-properties h2,
.del-properties h2,
.dis-properties h2,
.nik-properties h2,
.met-properties h2,
.hom-properties h2 {
    color: white;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 12px;
}

.all-properties h2 {
    position: absolute;
    top: 3540px;
    left: 230px;
}

.spo-properties h2 {
    position: absolute;
    top: 3480px;
    left: 580px;
}

.mic-properties h2 {
    position: absolute;
    top: 3540px;
    left: 930px;
}

.exx-properties h2 {
    position: absolute;
    top: 3960px;
    left: 230px;
}

.del-properties h2 {
    position: absolute;
    top: 4010px;
    left: 580px;
}

.dis-properties h2 {
    position: absolute;
    top: 3960px;
    left: 930px;
}

.nik-properties h2 {
    position: absolute;
    top: 4510px;
    left: 230px;
}

.met-properties h2 {
    position: absolute;
    top: 4440px;
    left: 580px;
}

.hom-properties h2 {
    position: absolute;
    top: 4510px;
    left: 930px;
}

.samantha {
    background-color: #090B19;
    width: 100%;
    height: 550px;
}

.samantha img {
    position: relative;
    width: 466px;
    height: 550px;
    margin-left: 70px;
}

.previous {
    margin-left: -30px;
    width: 268px;
    height: 70px;
    transform: rotate(-90deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -180px;
    background-color: #090B1980;
    color: white;
    border: 1px #FFFFFF1A;
}

.next {
    margin-left: -30px;
    width: 268px;
    height: 70px;
    transform: rotate(-90deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -340px;
    background-color: #090B1980;
    color: white;
    border: 1px #FFFFFF1A;
}

.samantha h1 {
    color: white;
    font-size: 44px;
    font-weight: 600;
    line-height: 55px;
    margin-left: 580px;
    margin-top: -120px;
    letter-spacing: -1.44px;
}

.local {
    color: white;
    font-weight: 100;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 4px;
    margin-left: 580px;
    margin-top: 300px;
}

.samanthaFeed {
    color: white;
    width: 318px;
    height: 73px;
    line-height: 25px;
    font-weight: 400;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    margin-left: 880px;
    margin-top: -370px;
    display: flex;
    align-items: center;
}

.our-team {
    width: 100%;
    height: 650px;
    margin-top: 90px;
}

.our-team p {
    font-size: 12px;
    letter-spacing: 3px;
    padding-left: 74px;
}

.behind {
    display: flex;
    justify-content: space-between;
    margin-right: 74px;
}

.behind h1 {
    font-size: 40px;
    padding-left: 74px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.behind button {
    width: 200px;
    height: 50px;
    font-family: "Open Sans", sans-serif;
    background-color: black;
    color: white;
    font-size: 11px;
    border-radius: 50px;
    font-weight: 200;
    letter-spacing: 3px;
}

.jessica img,
.ryan img,
.carrie img {
    width: 355px;
    height: 355px;
}

.jessica h1,
.ryan h1,
.carrie h1 {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.jessica p,
.ryan p,
.carrie p {
    color: white;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 10px;
}

.jessica img {
    position: absolute;
    top: 5350px;
    left: 80px;
}

.jessica h1 {
    position: absolute;
    top: 5380px;
    left: 98px;
}

.jessica p {
    position: absolute;
    top: 5380px;
    left: 305px;
}

.ryan img {
    position: absolute;
    top: 5420px;
    left: 434px;
}

.ryan h1 {
    position: absolute;
    top: 5450px;
    left: 460px;
}

.ryan p {
    position: absolute;
    top: 5450px;
    left: 655px;
}

.carrie img {
    position: absolute;
    top: 5480px;
    left: 787px;
}

.carrie h1 {
    position: absolute;
    top: 5510px;
    left: 810px;
}

.carrie p {
    position: absolute;
    top: 5510px;
    left: 1005px;
}

.circle-insta,
.circle-face,
.circle-link,
.circle-yout,
.circle-insta-ryan,
.circle-face-ryan,
.circle-link-ryan,
.circle-yout-ryan,
.circle-insta-car,
.circle-face-car,
.circle-link-car,
.circle-yout-car {
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 150px;
}

.circle-insta {
    position: absolute;
    top: 5650px;
    left: 190px;
}

.circle-face {
    position: absolute;
    top: 5650px;
    left: 226px;
}

.circle-link {
    position: absolute;
    top: 5650px;
    left: 260px;
}

.circle-yout {
    position: absolute;
    top: 5650px;
    left: 295px;
}

.circle-insta-ryan {
    position: absolute;
    top: 5720px;
    left: 545px;
}

.circle-face-ryan {
    position: absolute;
    top: 5720px;
    left: 580px;
}

.circle-link-ryan {
    position: absolute;
    top: 5720px;
    left: 615px;
}

.circle-yout-ryan {
    position: absolute;
    top: 5720px;
    left: 650px;
}

.circle-insta-car {
    position: absolute;
    top: 5780px;
    left: 900px;
}

.circle-face-car {
    position: absolute;
    top: 5780px;
    left: 935px;
}

.circle-link-car {
    position: absolute;
    top: 5780px;
    left: 970px;
}

.circle-yout-car {
    position: absolute;
    top: 5780px;
    left: 1005px;
}

.circle-insta img,
.circle-face img,
.circle-link img,
.circle-yout img,
.circle-insta-ryan img,
.circle-face-ryan img,
.circle-link-ryan img,
.circle-yout-ryan img,
.circle-insta-car img,
.circle-face-car img,
.circle-link-car img,
.circle-yout-car img {
    width: 15px;
    height: 15px;
}

.circle-insta img {
    position: absolute;
    top: 6px;
    left: 6px;
}

.circle-face img {
    position: absolute;
    top: 6px;
    left: 6px;
}

.circle-link img {
    position: absolute;
    top: 6px;
    left: 6px;
}

.circle-yout img {
    position: absolute;
    top: 6px;
    left: 6px;
}

.circle-insta-ryan img {
    position: absolute;
    top: 6px;
    left: 6px;
}

.circle-face-ryan img {
    position: absolute;
    top: 6px;
    left: 6px;
}

.circle-link-ryan img {
    position: absolute;
    top: 6px;
    left: 6px;
}

.circle-yout-ryan img {
    position: absolute;
    top: 6px;
    left: 6px;
}

.circle-insta-car img {
    position: absolute;
    top: 6px;
    left: 6px;
}

.circle-face-car img {
    position: absolute;
    top: 6px;
    left: 6px;
}

.circle-link-car img {
    position: absolute;
    top: 6px;
    left: 6px;
}

.circle-yout-car img {
    position: absolute;
    top: 6px;
    left: 6px;
}

.banner {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 90%;
}

.popularCategories h1 {
    margin-left: 50px;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 4px;
    color: #090B19;
    margin-top: 300px;
}

.popularCategories p {
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    display: flex;
    padding: 30px;
    color: #6E7488;
}

.recentPosts {
    width: 100%;
}

.recentPosts p {
    margin-top: -750px;
    margin-left: 350px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 4px;
    color: #090B19;
}

.recentPosts h1 {
    margin-left: 350px;
    margin-top: 10px;
    font-weight: 600;
    line-height: 50px;
    font-size: 48px;
    letter-spacing: 2px;
}

.recentPosts button {
    position: absolute;
    margin-top: -54px;
    margin-left: 950px;
    width: 200px;
    height: 54px;
    border-radius: 100px;
    background-color: #090B19;
    color: white;
    font-family: 'Open Sans';
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: center;
}

.principles img {
    width: 440px;
    height: 210px;
    margin-left: 325px;
    margin-top: 110px;
}

.principles h1 {
    margin-left: 335px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #090B19;
}

.principles p {
    margin-left: 335px;
    margin-top: 20px;
    width: 432px;
    height: 52px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #6E7488;
}

.floor p {
    position: absolute;
    margin-left: 660px;
    margin-top: 80px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #6E7488;
}

.floor h1 {
    position: absolute;
    margin-left: 335px;
    margin-top: 80px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #6E7488;
}

.webflow img {
    width: 440px;
    height: 210px;
    display: flex;
    margin-left: 758px;
    margin-top: -300px;
}

.webflow h1 {
    margin-top: 30px;
    margin-left: 775px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #090B19;
}

.webflow p {
    margin-left: 775px;
    margin-top: 20px;
    width: 432px;
    height: 52px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #6E7488;
}

.loveWeb p {
    position: absolute;
    margin-left: 1110px;
    margin-top: 80px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #6E7488;
}

.loveWeb h1 {
    position: absolute;
    margin-left: 775px;
    margin-top: 80px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #6E7488;
}

.bestExamples img {
    width: 440px;
    height: 210px;
    margin-left: 325px;
    margin-top: 70px;
}

.bestExamples h1 {
    width: 420px;
    margin-left: 335px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #090B19;
}

.bestExamples p {
    margin-left: 335px;
    margin-top: 20px;
    width: 432px;
    height: 52px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #6E7488;
}

.blogDesign h1 {
    position: absolute;
    margin-left: 335px;
    margin-top: 80px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #6E7488;
}

.blogDesign p {
    position: absolute;
    margin-left: 660px;
    margin-top: 80px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #6E7488;
}

.misconceptions img {
    width: 440px;
    height: 210px;
    display: flex;
    margin-left: 758px;
    margin-top: -320px;
}

.misconceptions h1 {
    margin-top: 30px;
    margin-left: 775px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #090B19;
}

.misconceptions p {
    margin-left: 775px;
    margin-top: 20px;
    width: 432px;
    height: 52px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #6E7488;
}

.organization h1 {
    position: absolute;
    margin-left: 775px;
    margin-top: 80px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #6E7488;
}

.organization p {
    position: absolute;
    margin-left: 1110px;
    margin-top: 80px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #6E7488;
}